<html>
    <header>
        <title>Ping</title>
        <script src="script.js"> </script>
    </header>
    <body>
        <h1>testing</h1>
        <input type="text" id="host" placeholder="host" onchange="fn(this)" />
        
        <ul id="domains"> </ul>
    </body>
</html>
